# Virtual environment
venv/

# Data
data/

# Features and models
features/
models/

# Notebook checkpoints
*/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs and temp files
*.log
*.tmp

report/evaluation_output_dl
