--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchvision
torchaudio
transformers
sentence-transformers
protobuf
sentencepiece

pandas
numpy
scikit-learn
h5py
h5sparse
iterative-stratification
optuna

nltk
unidecode
contractions

matplotlib
seaborn

tqdm
joblib
jupyter
ipykernel