--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchvision
torchaudio
transformers
sentence-transformers
protobuf
sentencepiece

pandas
numpy
scikit-learn
h5py

nltk
unidecode
contractions

tqdm
jupyter
ipykernel